flows_iot.json
[{"id":"4ba771a8.fb33b8","type":"tab","label":"System Stats","disabled":false,"info":""},{"id":"b6aa6c2f.24a11","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"statsdemo","name":"statsdemo DB","usetls":false,"tls":""},{"id":"e4ea44e6.5230a","type":"influxdb","z":"4ba771a8.fb33b8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"d09105e0.2ad67","type":"DeviceStats","z":"4ba771a8.fb33b8","name":"","mem":true,"nw":true,"load":true,"hostname":true,"useString":false,"x":310,"y":180,"wires":[["21a4539.2855a2c","1bddbbc9.f9fc3c"]]},{"id":"d65f4f4.ff6ad3","type":"inject","z":"4ba771a8.fb33b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["d09105e0.2ad67"]]},{"id":"21a4539.2855a2c","type":"debug","z":"4ba771a8.fb33b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"1bddbbc9.f9fc3c","type":"function","z":"4ba771a8.fb33b8","name":"convert","func":"msg.payload = [\n    {\n        measurement: \"cpu\",\n        fields: {\n            avg1min: msg.payload.load[0],\n            avg5min: msg.payload.load[1],\n            avg15min: msg.payload.load[2]\n        },\n        tags:{\n            host: msg.payload.hostname\n        },\n        timestamp: msg.payload.tstamp\n    },\n    {\n        measurement: \"mem\",\n        fields: {\n            used: msg.payload.mem.used,\n            free: msg.payload.mem.free,\n            swapused: msg.payload.mem.swapused,\n            swapfree: msg.payload.mem.swapfree\n        },\n        tags:{\n            host: msg.payload.hostname\n        },\n        timestamp: msg.payload.tstamp\n    },\n    {\n        measurement: \"nw\",\n        fields: {\n            rx: msg.payload.nw.enp0s3.rx,\n            tx: msg.payload.nw.enp0s3.tx\n        },\n        tags:{\n            host: msg.payload.hostname,\n            interface: \"enp0s3\"\n        },\n        timestamp: msg.payload.tstamp\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["67a06bad.7efca4","e9b5e84b.53a8d"]]},{"id":"e9b5e84b.53a8d","type":"influxdb batch","z":"4ba771a8.fb33b8","influxdb":"b6aa6c2f.24a11","precision":"ms","retentionPolicy":"","name":"","x":740,"y":180,"wires":[]},{"id":"67a06bad.7efca4","type":"debug","z":"4ba771a8.fb33b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]}]